.container {
  border-bottom: 1px solid var(--light-gray__4);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cityPick {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.cityPick span {
  color: var(--light-gray__4);
}

.select {
  width: 20rem;
}

@supports (scrollbar-color: #f22 #2f2) {
  /* For Firefox */
  .select * {
    scrollbar-color: var(--light-gray__4) var(--primary-color);
    scrollbar-width: thin;
  }
}

.select *::-webkit-scrollbar {
	width: 8px;
	background-color: var(--primary-color);
}

.select *::-webkit-scrollbar-track {
	background-color: var(--primary-color);
}

.select *::-webkit-scrollbar-thumb {
	background-color: var(--light-gray__4);
}

.getLocation {
  cursor: pointer;
  padding: 0.6em 1.1em;
  font-size: 1.05rem;
  border-radius: 0;
  border: 1px solid #EEEEEE99;
  background-color: var(--primary-color);
  color: var(--light-gray);
  transition: 200ms ease;
}

.getLocation:hover {
  border-color: var(--accent-color);
}

.getLocation:active {
  background-color: var(--accent-color);
  color: #eeeeee44;
}

.refresh {
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.45rem 0.5rem;
  background-color: var(--primary-color-dark);
  border: 1px solid var(--light-gray__4);
  transition: 200ms ease;
}

.refresh svg {
  fill: var(--accent-color);
  width: 2.7rem;
  height: 2.7rem;
  vertical-align: middle;
  transition: 200ms ease;
}

.refresh:hover:not(:disabled) {
  border-color: var(--light-gray);
}

.refresh:hover:not(:disabled) svg {
  transform: rotate(75deg);
}

.refresh:active:not(:disabled) {
  background-color: var(--primary-color-light);
}

.refresh:active:not(:disabled) svg {
  transform: rotate(95deg);
}

.refresh:disabled {
  opacity: 0.4;
  cursor: initial;
}
