.container {
  grid-column: main-start / main-end;
  grid-row: city-select-start / city-select-end;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  border-bottom: 1px solid var(--light-gray__4);
  padding: 1.5rem;
  background-color: var(--primary-color-light);
}

.container span {
  color: var(--light-gray__4);
}

.select {
  width: 19rem;
}

@supports (scrollbar-color: #f22 #2f2) {
  /* For Firefox */
  .select * {
    scrollbar-color: var(--light-gray__4) var(--primary-color);
    scrollbar-width: thin;
  }
}

.select *::-webkit-scrollbar {
	width: 8px;
	background-color: var(--primary-color);
}

.select *::-webkit-scrollbar-track {
	background-color: var(--primary-color);
}

.select *::-webkit-scrollbar-thumb {
	background-color: var(--light-gray__4);
}

.getLocation {
  --border-color: #EEEEEE99;
  flex-shrink: 0;
  margin-right: 3rem;
  border: 1px solid var(--border-color);
  padding: 0.6em 1.1em;
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 0;
  color: var(--light-gray);
  background-color: var(--primary-color);
  transition: 200ms ease;
}

.getLocation:hover {
  border-color: var(--accent-color);
}

.getLocation:active {
  background-color: var(--accent-color);
  color: #eeeeee44;
}

.refresh {
  margin-right: 0.5rem;
  margin-left: auto;
  border: 1px solid var(--light-gray__4);
  padding: 0.45rem 0.5rem;
  cursor: pointer;
  background-color: var(--primary-color-dark);
  transition: 200ms ease;
}

.refresh svg {
  width: 2.7rem;
  height: 2.7rem;
  vertical-align: middle;
  fill: var(--accent-color);
  transition: 200ms ease;
}

.refresh_hover:hover:not(:disabled) {
  border-color: var(--light-gray);
}

.refresh_hover:hover:not(:disabled) svg {
  transform: rotate(75deg);
}

.refresh:active:not(:disabled) {
  background-color: var(--primary-color-light);
}

.refresh:active:not(:disabled) svg {
  transform: rotate(95deg);
}

.refresh:disabled {
  opacity: 0.4;
  cursor: initial;
}

@media only screen and (max-width: 101.35em) {
  .container {
    gap: 2rem;
  }

  .select {
    width: 18rem;
  }
}

@media only screen and (max-width: 80.75em) {
  .getLocation:hover {
    border-color: var(--border-color);
  }
  
  .getLocation:active {
    border-color: var(--light-gray);
    color: #eeeeee44;
    background-color: var(--accent-color);
  }
}

@media only screen and (max-width: 55em) {
  .container {
    position: initial;
    justify-content: center;
    gap: 3.3rem;
  }
  
  .getLocation {
    margin-right: 0;
  }
}

@media only screen and (max-width: 43.25em) {
  .container {
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem 0.7rem;
  }

  .select {
    font-size: 0.9rem;
  }

  .getLocation {
    padding: 0.55em 0.9em;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 24.5em) {
  .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .select {
    width: 100%;
  }
}
