.footer {
  grid-row: footer-start / footer-end;
  grid-column: content-start / content-end;
  background-color: var(--primary-color-dark);
}

.copyright {
  width: max-content;
  margin: 0 auto;
  padding: 0.4rem 0 0.5rem;
  font-size: 0.8rem;
}
