.container {
  display: grid;
  grid-template-columns: [content-start] 1fr [content-end];
  grid-template-rows:
    [content-start navbar-start] 5.25rem
    [navbar-end main-start] calc(100vh - 5.25rem - 2.2rem)
    [main-end footer-start] 2.2rem
    [footer-end content-end];
  height: 100vh;
  overflow: hidden;
}

.main {
  grid-row: main-start / main-end;
  grid-column: content-start / content-end;
  overflow: auto;
}

@media only screen and (max-width: 80.75em) {
  .container {
    grid-template-rows:
      [content-start navbar-start] 5.2rem
      [navbar-end main-start] minmax(max-content, 100vh)
      [main-end footer-start] 2.2rem
      [footer-end content-end];
    overflow: auto;
  }
}
