.container {
  background-color: var(--color-dark);
  display: grid;
  grid-template-columns: 1fr max-content;
  padding: 2rem 3rem;
  row-gap: 1rem;
}

.container a {
  transition: 200ms ease;
}

.container a:hover {
  color: var(--color-primary);
}

.info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
}

.info > * {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.info > * > span {
  opacity: 0.4;
}

.image {
  grid-column: -1 / -2;
  grid-row: 1 / 2;
  margin-bottom: 2rem;
  width: 150px;
}

.tags {
  display: inline;
}

.wiki {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  width: 80ch;
  font-size: 0.85rem;
  margin-right: 4rem;
  line-height: 1.5;
}

.close {
  grid-column: -1 / -2;
  grid-row: 3 / 4;
  justify-self: end;
  background-color: var(--color-darker);
  font-size: 1.1rem;
  padding: 0.5em 1.1em;
  border: 1px solid var(--color-gray-lighter);
  line-height: initial;
  color: var(--color-gray);
}

.close:hover {
  border-color: var(--color-primary);
}

.close:active {
  background-color: var(--color-light-dark);
}
