.container {
  overflow: auto;
  flex: 1;
  padding: 1.5rem 1.5rem;
}

.container > *:not(:last-child) {
  margin-bottom: 1rem;
}

@supports (scrollbar-color: #f22 #2f2) {
  /* For Firefox */
  .container {
    scrollbar-color: var(--light-gray__4) var(--primary-color-light);
  }
}

.container::-webkit-scrollbar {
	width: 12px;
	background-color: var(--primary-color-light);
}

.container::-webkit-scrollbar-track {
	background-color: var(--primary-color-light);
}

.container::-webkit-scrollbar-thumb {
	background-color: var(--light-gray__4);
}
