.container {
  grid-column: weather-start / weather-end;
  grid-row: content-start / content-end;
  margin: 20% auto;
  width: max-content;
  height: max-content;
  padding: 1rem;
  text-align: center;
}

.tryAgain {
  margin: 1rem;
  border: 1px solid var(--light-gray__4);
  padding: 0.45em 0.9em;
  font-size: 1rem;
  cursor: pointer;
  color: var(--light-gray);
  background-color: var(--primary-color-dark);
}

.tryAgain:hover {
  border-color: var(--accent-color);
}

.tryAgain:active {
  background-color: var(--accent-color__4);
  color: #eeeeee44;
}

.city {
  position: relative;
  margin: 0 auto -0.6rem;
  width: max-content;
  font-size: 2.5rem;
}

.refresh {
  cursor: pointer;
  position: absolute;
  right: -2.1rem;
  top: -0.8rem;
  border: none;
  background-color: transparent;
}

.refresh svg {
  width: 1.7rem;
  vertical-align: middle;
  fill: var(--light-gray__6);
  transition: 200ms ease;
}

.refresh_hover:hover svg {
  fill: var(--light-gray);
  transform: rotate(75deg);
}

.refresh:active svg {
  transform: rotate(95deg);
}

.image {
  margin: 0 auto;
  margin-bottom: -1.4rem;
  width: 12rem;
}

.temp {
  margin-bottom: 0.3rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

.desc {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.info {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 0.2rem;
  text-align: left;
}

.info > * > span {
  color: var(--light-gray__6);
}

@media only screen and (max-width: 80.75em) {
  .container {
    grid-column: main-start / main-end;
    grid-row: weather-start / weather-end;
    margin: 0;
    border: 1px solid var(--light-gray__4);
    border-top: none;
    width: 100%;
    height: max-content;
    padding: 0.1rem 1.5rem;
    text-align: left;
  }

  .tryAgain:hover {
    border-color: var(--light-gray__4);
  }
  
  .conciseInfo {
    display: flex;
    align-items: center;
  }

  .city {
    margin: 0;
    margin-right: 0.7rem;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .image {
    flex-shrink: 0;
    margin: 0;
    margin-right: 0.3rem;
    width: 5rem;
  }

  .temp {
    margin: 0;
    margin-right: 1.5rem;
    font-size: 2rem;
  }
  
  .desc {
    margin: 0;
    margin-right: 1.7rem;
    font-size: 1.1rem;
  }

  .refresh {
    position: initial;
    margin-right: 2rem;
  }
  
  .refresh svg {
    width: 1.7rem;
    vertical-align: middle;
    fill: var(--light-gray);
    transition: 200ms ease;
  }
  
  .refresh:active svg {
    transform: rotate(95deg);
  }

  .showMore {
    flex-shrink: 0;
    margin-left: auto;
    width: 3rem;
    fill: var(--primary-color);
    stroke: var(--light-gray__6);
    transform: rotate(180deg);
  }

  .info {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 55em) {
  .container {
    border-left: none;
    border-right: none;
  }
}

@media only screen and (max-width: 43.25em) {
  .container {
    padding: 0.1rem 0.5rem;
  }

  .image {
    margin-left: -0.5rem;
    margin-right: 0;
  }

  .desc {
    font-size: 1rem;
  }

  .collapsibleInfo {
    padding: 0 0.5rem 0.7rem;
  }

  .cityPlusRefresh {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
  }

  .info {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .refresh {
    margin: 0;
  }
}

@media only screen and (max-width: 24.5em) {
  .temp {
    margin-right: 1rem;
  }

  .desc {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .showMore {
    width: 2.2rem;
  }
}
