.weather {
  text-align: center;
  margin: 20% auto;
  width: max-content;
  height: max-content;
  padding: 1rem;
}

.city {
  margin: 0 auto -0.6rem;
  font-size: 2.5rem;
  position: relative;
  width: max-content;
}

.refresh {
  cursor: pointer;
  position: absolute;
  right: -2.1rem;
  top: -0.8rem;
  background-color: transparent;
  border: none;
}

.refresh svg {
  width: 1.7rem;
  vertical-align: middle;
  fill: var(--light-gray__4);
  transition: 200ms ease;
}

.refresh:hover svg {
  fill: var(--light-gray);
  transform: rotate(75deg);
}

.refresh:active svg {
  transform: rotate(95deg);
}

.image {
  margin: 0 auto;
  margin-bottom: -1.4rem;
  width: 12rem;
}

.temp {
  margin-bottom: 0.3rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

.desc {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.info {
  display: grid;
  grid-template-columns: max-content max-content;
  text-align: left;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 0.2rem;
}

.info > * > span {
  color: var(--light-gray__4);
}
