.container {
  margin-left: auto;
  margin-right: 35%;
  max-width: 55rem;
  height: 100%;
  padding: 1.5rem;
  background-color: var(--primary-color-light);
}

.container h1 {
  margin-bottom: 1.15rem;
}

.container p {
  max-width: 70ch;
  margin-bottom: 0.7rem;
  line-height: 1.6;
}

@media only screen and (max-width: 101.35em) {
  .container {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 80.75em) {
  .container {
    margin-right: auto;
  }
}

@media only screen and (max-width: 43.25em) {
  .container {
    padding: 0.7rem;
  }

  .container h1 {
    margin-bottom: 0.35rem;
  }

  .container p {
    margin-bottom: 0.6rem;
  }
}
