.container {
  margin-left: auto;
  margin-right: 35%;
  max-width: 55rem;
  height: 100%;
  padding: 1.5rem;
  background-color: var(--primary-color-light);
}

.container h1 {
  margin-bottom: 1.5rem;
}

.container a {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: 0.5rem;
}

.container a:hover svg {
  fill: var(--accent-color);
}

.icon {
  width: 2.5rem;
  fill: var(--light-gray);
}

@media only screen and (max-width: 101.35em) {
  .container {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 80.75em) {
  .container {
    margin-right: auto;
  }

  .container a:hover svg {
    fill: currentColor;
  }
}

@media only screen and (max-width: 43.25em) {
  .container {
    padding: 0.7rem;
  }

  .container h1 {
    margin-bottom: 0.9rem;
  }
}
