@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --accent-color: #FF4C29;
  --accent-color__4: #ff4c2966;
  --primary-color-light: #334756;
  --primary-color: #2C394B;
  --primary-color-dark: #082032;

  --light-gray: #EEEEEE;
  --light-gray__4: #EEEEEE66;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--primary-color);
  line-height: 1.7;
  color: var(--light-gray);
}

a {
  color: inherit;
  text-decoration: none;
}
