@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --accent-color: #FFD369;
  --accent-color__4: #FFD36966;
  --primary-color-dark: #202030;
  --primary-color: #2c2e44;
  --primary-color-light: #383a52;

  --light-gray: #EEEEEE;
  --light-gray__4: #EEEEEE66;
  --light-gray__6: #EEEEEE99;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--primary-color);
  line-height: 1.7;
  color: var(--light-gray);
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  transition: 200ms ease;
}

a:hover {
  color: var(--accent-color);
}

@media only screen and (max-width: 80.75em) {
  a:link,
  a:visited {
    text-decoration: underline;
    text-underline-offset: 1px;
  }

  a:hover {
    color: currentColor;
  }
}
